{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{# Импортируем модуль с нашим тегом #}
{% load custom_tags %}

{% load i18n %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <div align="right">
    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">
        {% get_current_language as LANGUAGE_CODE %}

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="{% trans 'Нажать' %}">
    </form>
    </div>
<h4><a href="{% url 'post_search' %}"> {% trans 'Поиск по постам' %}</a></h4>

{% if request.user.is_authenticated %}
{% if not is_author %}
<button>
    <a class="nav-link" href="{% url 'account_upgrade' %}">
        <h4><strong>{% trans 'Стать автором постов!' %}</strong></h4>
    </a>
</button>
{% endif %}
{% endif %}

<h1 class="text-center">{% trans 'Новостная лента' %} <span class="text-muted fs-6 fw-normal">{% trans 'Всего:' %} {{ page_obj.paginator.count }}</span></h1>
<hr>

   {% if perms.appnews.add_post %}

   <a href="{% url 'post_create' %}">{% trans 'Добавить Пост' %}</a>

   {% endif %}

{% if not request.user.is_authenticated %}
<div align="right"> <a href="http://127.0.0.1:8000/accounts/login"> {% trans 'Вход' %} </a> </div>
<div align="right"> <a href="http://127.0.0.1:8000/accounts/signup"> {% trans 'Регистрация' %} </a> </div>
{% endif %}

{% if request.user.is_authenticated %}
<div align="right"> <a href="http://127.0.0.1:8000/accounts/logout"> {% trans 'Выход из профиля' %} </a> </div>
{% endif %}

   {% if news %}
       <table>
           <tr>

               <td>{% trans 'Заголовок' %}</td>
               <td>{% trans 'Дата публикации' %}</td>
               <td>{% trans 'Описание' %}</td>
               <td>{% trans 'Категории' %}</td>


               {% if perms.simpleapp.change_news or perms.simpleapp.delete_news %}
                <td>{% trans 'Действия' %}</td>
                {% endif %}

           </tr>

           {% for i in news %}
           <tr>

               <td> {% trans i.title %} </td>
               <td> {{ i.dateCreation|date:"Y-m-d H:i:s" }} </td>
               <td> {% trans i.text|truncatechars:15 %}</td>

               <td>
                    {% for postCategory in i.postCategory.all %}
                    <a href="{% url 'category_list' postCategory.id %}">{{ postCategory }}</a>
                    {% endfor %}
               </td>


               <td>
                    {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.appnews.change_post %}
                    <a href="{% url 'post_update' pk=i.id %}">{% trans 'Изменить' %}</a>
                    {% endif %}
                    {% if perms.appnews.delete_post %}
                    <a href="{% url 'post_delete' pk=i.id %}">{% trans 'Удалить' %}</a>
                    {% endif %}
                </td>

           </tr>

           {% endfor %}

       </table>
 <hr>
   {% else %}
       <h2>{% trans 'Товаров нет!' %}</h2>
   {% endif %}
{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}